<!-- Card -->
<div
  class="card card-image mb-3"
  style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);"
>
  <!-- Content -->
  <div
    class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4"
  >
    <div>
      <h3 class="card-title pt-2">
        <strong>{{ movie.title }}</strong>
      </h3>
      <p>
        {{ movie.overview }}
      </p>
      <a mdbBtn color="blue" class="waves-light" mdbWavesEffect
        ><i class="far fa-clone left"></i> View movie</a
      >
    </div>
  </div>
  <!-- Content -->
</div>
<!-- Card -->
