<!-- Card -->
<div
  class="card card-image mb-3"
  [ngStyle]="{
    background:
      'url(' + imagePath + movie.backdrop_path + ') no-repeat center center'
  }"
>
  <!-- Content -->
  <div
    class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4"
  >
    <div>
      <h3 class="card-title pt-2">
        <strong>{{ movie.title }}</strong>
      </h3>
      <p>
        {{ movie.overview }}
      </p>
      <a [href]="'/movies/' + movie.id" class="stretched-link text-primary"
        >Read more</a
      >
    </div>
  </div>
  <!-- Content -->
</div>
<!-- Card -->
