<mdb-card class="mb-3">
  <div class="view rgba-white-slight waves-light" mdbWavesEffect>
    <mdb-card-img
      [src]="imagePath + movie.poster_path"
      [alt]="movie.title"
    ></mdb-card-img>
    <a [routerLink]="'movies/' + movie.id">
      <div class="mask"></div>
    </a>
  </div>
  <mdb-card-body>
    <mdb-card-title>
      <h6 [mdbTooltip]="movie.title" placement="top">
        {{ movie.title | truncate: 20 }}
      </h6>
    </mdb-card-title>

    <mdb-card-text>
      {{ movie.overview | truncate: 75 }}
    </mdb-card-text>

    <a [routerLink]="'movies/' + movie.id" color="stretched-link">Read more</a>
  </mdb-card-body>
</mdb-card>
